.milk-list__item label,
.country-list__item label {
  position: relative;
  display: block;
  line-height: 24px;
  cursor: pointer;
}

.milk-list__item label::before,
.country-list__item label::before {
  content: "";
  position: absolute;
  top: -1px;
  height: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.milk-list__item label::after,
.country-list__item label::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.milk-list {
  @media (min-width: $tablet-width) {
    margin-left: -3px;
  }
}

.milk-list__item {
  padding-left: 37px;
  margin-bottom: 20px;
}

.milk-list__item label::before {
  left: -34px;
  width: 24px;
  border: 2px solid $base-grey;
  border-radius: 50%;
}

.milk-list__item label::after {
  top: 3px;
  left: -30px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-white;
}

.milk-list__item input:not(:disabled):not(:checked) + label:hover::before,
.milk-list__item input:not(:disabled):not(:checked):focus + label::before {
  border-color: $primary-lighter;
}

.milk-list__item input:not(:disabled):not(:checked) + label:hover::after,
.milk-list__item input:not(:disabled):not(:checked):focus + label::after {
  background-color: $primary-opacity;
}

.milk-list__item input:checked + label::before {
  border-color: $base-primary;
}

.milk-list__item input:checked + label::after {
  background-color: $base-primary;
}

.milk-list__item input:disabled + label {
  color: $base-grey;
  cursor: auto;
}

.milk-list__item input:disabled + label::before {
  border-color: $light-grey;
  cursor: auto;
}

.milk-list__item input:checked:disabled + label::after {
  background-color: $light-grey;
}
