.catalog {
  padding-top: 18px;
  padding-bottom: 43px;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 86px;
    padding-bottom: 119px;
  }

  &__badge {
    display: block;
    text-align: center;
  }

  &__heading {
    margin: 5px 0 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-top: 4px;
      margin-bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 21px;
    }
  }

  &__sort span {
    font-weight: 600;
    line-height: 24px;
  }
}
