.catalog {
  padding-top: 18px;
  padding-bottom: 43px;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 86px;
    padding-bottom: 119px;
  }
}

.catalog__badge {
  display: block;
  text-align: center;
}

.catalog__heading {
  margin: 5px 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 21px;
  }
}
