.features {
  padding-top: 45px;
  padding-bottom: 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 115px;
  }

  &__heading {
    margin: 2px 0 0;

    @media (min-width: $tablet-width) {
      margin-top: 1px;
    }
 }

  &__list {
    padding: 0;
    margin: 35px 0 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 57px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 138px;
    margin-bottom: 36px;
    background-position: center 0;
    background-repeat: no-repeat;

    &--speed {
      background-image: url("../../icons/icon-speed.svg");
      background-size: 50px 56px;
    }

    &--comfort {
      background-image: url("../../icons/icon-comfort.svg");
      background-size: 52px 56px;
    }

    &--energy {
      background-image: url("../../icons/icon-energy.svg");
      background-size: 42px 56px;
    }

    &--eco {
      background-image: url("../../icons/icon-eco.svg");
      background-size: 46px 56px;
    }

    h3 {
      margin: auto 0 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;

      @media (min-width: $tablet-width) {
        margin: 0 0 6px;
        font-size: 24px;
        line-height: 36px;
      }
    }

    p {
      margin: 4px 0 -4px;
      font-size: 14px;
      line-height: 20px;

      @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 339px;
      height: auto;
      padding-left: 82px;
      padding-top: 4px;
      margin-bottom: 50px;
      text-align: left;
      background-position: 11px 7px;
    }
  }

  &__item:nth-child(even) {
    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &__item:nth-child(2) {
    @media (min-width: $tablet-width) {
      background-position: 10px 3px;
    }
  }

  &__item:nth-child(3) {
    @media (min-width: $tablet-width) {
      background-position: 15px 3px;
    }
  }

  &__item:nth-child(4) {
    @media (min-width: $tablet-width) {
      background-position: 13px 7px;
    }
  }
}
